#createBlackmail {
	display: none;
}

#viewBlackmail {
	display: none;
}

#errorMsg {
	display: none;
}

#logOut {
	display: none;
}

#greeting {
	float: right;
	margin-top: 1em;
}

body {
	padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
	margin-bottom: 30px;
}

footer {
	margin: 50px 0;
}